#cast {
  --disconnected-color: #efefef;
  background-color: #888;
  border-radius: 10px;
  bottom: 5px;
	display: block;
	height: 40px;
  padding: 5px;
  position: fixed;
  right: 5px;
	width: 40px;
  z-index: 1000;
}

#cast:hover {
  cursor: pointer
}

body {
  padding-bottom: 50px;
}
